# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_NAME=agrinet

# JWT Authentication
JWT_SECRET=agrinet_13gasdt77atsdbasdiugas7dt6t87gd8s7a786g
JWT_EXPIRES_IN=7d

# Optional Configuration
PORT=3000
TZ=UTC


#mac
# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=agrinet

# Optional Configuration
PORT=3000
TZ=UTC
